<!-- footer.html -->
<footer>
    <p>© {{year}} InstaDevOne. All rights reserved.</p>
    <div class="logo-container">
        <img src="{{portfolioData.logo}}" alt="InstaDevOne's Portfolio Logo">
    </div>
</footer>
