<aside class="sidebar">
    <div class="sidebar-header">
        <h2>CodingLab</h2>
    </div>
    <ul class="sidebar-links">
        <h4>
            <span>Under Development</span>
            <br>
            <span>Main Menu</span>
            <div class="menu-separator"></div>
        </h4>
        <li>
            <a href="#">
                <span class="material-symbols-outlined"> dashboard </span>Dashboard</a>
        </li>
        <li>
            <a href="/news"><span class="material-symbols-outlined"> news </span>News</a>
        </li>
        <li>
            <a href="#"><span class="material-symbols-outlined"> monitoring </span>Analytic</a>
        </li>
        <h4>
            <span>General</span>
            <div class="menu-separator"></div>
        </h4>
        <li>
            <a href="#"><span class="material-symbols-outlined"> folder </span>My Projects</a>
        </li>
        <li>
            <a href="/forum"><span class="material-symbols-outlined"> forum </span>Forum</a>
        </li>
        <li>
            <a href="#"><span class="material-symbols-outlined"> Stars </span>Ranking</a>
        </li>
        <li>
            <a href="#"><span class="material-symbols-outlined"> search </span>Search</a>
            <input type="text" placeholder="Search..." class="search-input"> 
        </li>
        
        <h4>
            <span>Account</span>
            <div class="menu-separator"></div>
        </h4>
        <li>
            <a href="/profile"><span class="material-symbols-outlined"> account_circle </span>Profile</a>
        </li>
        <li>
            <a href="#"><span class="material-symbols-outlined"> settings </span>Settings</a>
        </li>
        <li>
            <a href="#"><span class="material-symbols-outlined"> volunteer_activism </span>Donation</a>
        </li>
        <li>
            <a href="/user"><span class="material-symbols-outlined"> login </span>Login</a>
        </li>
    </ul>
</aside>