{{!-- about.hbs --}}
{{#> layouts/main}}

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/images/logo.jpg" alt="InstaDevOne" style="width: 100px; height: 100px;">
                </div>
                <div class="col-md-6">
                    <h2>About Me</h2>
                    <p>Hello! I'm Parjad Minooei, a passionate Software Developer with a love for programming. </p>
                    <p>I have experience in many technologies and enjoy creating new content.</p>
                    <p>Feel free to explore my projects and get in touch if you'd like to collaborate or learn more about my work.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="about-instadevone">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>About InstaDevOne</h2>
                    <p>InstaDevOne stands for “Instance Developer One,” meaning a single developer instance. The term “instance” refers to a “single occurrence” or example, such as a developer portfolio. This website allows developers to showcase their individual portfolios, highlighting their unique skills and projects.</p>
                </div>
            </div>
        </div>
    </section>

{{/layouts/main}}
