{{!-- home.hbs --}}
{{#> layouts/main}} 

<h1>Welcome to Instadevone</h1>

<section id="introduction">
    <h2>About Instadevone</h2>
    <p>Instadevone stands for "Instance Developer One," meaning a single developer instance. An instance is a single occurrence of something, and in this case, it represents a single occurrence of a developer portfolio.</p>
</section>

<section id="about-me">
    <h2>About Me</h2>
    <p>Hello! I am Parjad Minooei, a passionate developer dedicated to creating innovative solutions. Explore my website to learn more about my projects, skills, and experiences.</p>
</section>

<section id="contact-info">
    <h2>Contact Me</h2>
    <p>If you have any questions or would like to get in touch, please go to the <a href="/contact">contact page</a> for further information.</p>
</section>

<section id="version-info">
    <h2>Version Information</h2>
    <p>This is version 0.2 of the website. The website is currently under development, with many features coming soon. Stay tuned for updates!</p>
</section>

{{/layouts/main}}
