{{!-- projects.hbs --}}
{{#> layouts/main}}

<link rel="stylesheet" href="/css/projects.css">

<section id="projects">
    <div class="container">
        <h2>My Projects</h2>

        </div>

        <a href="/project/codeeditor">JAVA-Code Editor</a> 

    </div>
</section>

{{/layouts/main}}