{{!-- skills.hbs --}}
{{#> layouts/main}}
<link rel="stylesheet" href="/css/skills.css"> <section id="skills"></section>
    <section id="skills">
        <div class="container">
            <h2>My Skills</h2>
            <ul>
                <li>Angular</li>
                <li>C</li>
                <li>C++</li>
                <li>C#</li>
                <li>CSS3</li>
                <li>Express</li>
                <li>HTML5</li>
                <li>JAVA</li>
                <li>JavaScript</li>
                <li>MONGODB</li>
                <li>NEXT.JS</li>
                <li>NODE.JS</li>
                <li>ORACLE Database</li>
                <li>PYTHON</li>
                <li>REACT</li>
            </ul>
        </div>
    </section>

{{/layouts/main}}
